<hr />
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <div class="row" id="loginHeader" style="display:block">
        <div class="col-md-4">
            <div>
                <h2>GIT Login</h2>
                <p style="white-space:nowrap;">Please enter the details to connect to GIT.</p>

            </div>
        </div>
    </div>
    <hr />
    if (ViewBag.HasMessage == "true")
    {
        <div class="row" id="messageDiv" style="display:block">
            <div class="alert alert-danger">
                <div>
                    <label id="lblMessage">@ViewBag.Message</label>
                </div>
            </div>
        </div>
    }
    <form class="form-horizontal">
        <div class="form-group">
            <div class="row" id="serveraddressDiv" style="display:block">
                <div class="col-md-4">
                    <div>
                        <label class="col-sm-2 control-label" for="serveraddress" style="white-space:nowrap;">Server Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control text" id="serveraddress" name="serveraddress" value="https://github.com/mbandari/Rhytify-System.git"/>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" id="userNameDiv" style="display:block">
                <div class="col-md-4">
                    <div>
                        <label class="col-sm-2 control-label" for="username" style="white-space:nowrap;">User Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control text" id="username" name="username" value="mbandari"/>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" id="passwordDiv" style="display:block">
                <div class="col-md-4">
                    <div>
                        <label class="col-sm-2 control-label" for="password" style="white-space:nowrap;">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control text" id="password" name="password" value="Jjong@3107"/>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" id="loginDiv" style="display:block">
                <div class="col-md-4">
                    <div>
                        <label class="col-sm-2 control-label" for="btnLogin"></label>
                        <div>
                            <input id="btnLogin" style="width:150px" type="submit" value="Login" class="btn btn-primary btnpadding" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#messageDiv').show();
        $('#serveraddress').val('https://github.com/mbandari/Rhytify-System.git');

    });

</script>
